---
layout: default
---

<div class="home">

  <h2 class="page-heading">Posts</h2>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>&nbsp;&#45;&nbsp;<small><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></small>
        </h3>
      </li>
    {% endfor %}
  </ul>

    <!-- 分页 -->
    <div class="pagination post-pagination">
          <!-- <span class="page_number">{{paginator.page}}/{{paginator.total_pages}}</span>&nbsp;&nbsp; -->
          <!-- <a href="{{site.baseurl}}/">First</a> -->
          {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="{{site.baseurl}}/" class="current">Prev</a>
          {% else %}
          <a href="{{site.baseurl}}/page{{paginator.previous_page}}">Prev</a>
          {% endif %}
          {% else %}
          <span>Prev </span>
          {% endif %}
          {% for count in (1..paginator.total_pages) limit:10 %}
          {% if count == paginator.page %}
          <span class="current-page">{{count}}</span>
          {% elsif count == 1 %}
          <a href="{{site.baseurl}}/" class="current-page">1</a>
          {% else %}
          <a href="{{site.baseurl}}/page{{count}}">{{count}}</a>
          {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
          <a href="{{site.baseurl}}/page{{paginator.next_page}}">Next</a>
          {% else %}
          <span>Next</span>
          {% endif %}
          <!-- <a href="{{site.baseurl}}/page{{paginator.total_pages}}">Last</a> -->
      </div>




</div>
<!-- loading -->
<div class="loading-wrap" id="loading">
  <div class="loading">
      <div><span></span></div>
      <div><span></span></div>
      <div><span></span></div>
  </div>
</div>
<script>
    var loading = document.getElementById('loading')
    var sHeight = document.documentElement.clientHeight
    loading.style.height = sHeight + 'px'
    var isF = sessionStorage.getItem("isF")
    if (isF != "f") {
        window.onload = function() {
            setTimeout(function() {
                loading.style.display='none'
                sessionStorage.setItem("isF", "f");
            }, 3000)
        }
    } else {
        loading.style.display='none'
    }
</script>
